
#opening-para{
background-color:green;
padding:10px;
border:2px solid blue;
}

.blog-post{
background-color:red;
color:white;
}

ul{
color: #3366ff;
}

ol{
color: #0039e6;
}

body{
font-size: 100%;
}

p{
font-size: 100%;
}

.small{
font-size:75%; /*equivalent to 12px */
}

.large{
font-size:125%; /*equivalent to 20px */
}
